<!--login.html -->
{% extends"base.html" %}
{% block content%}
<html>
   <body>
      <form action = "/validated_user" method = "post">
         <p>Usuário:</p>
         <p><input type = "text" name = "user"  placeholder="User" required/></p>
         <p>Senha:</p>
         <p><input type = "password" name = "password" placeholder="Password" required/></p>
         <p><input type = "submit" value = "submit" /></p>
         <li><a href="/register_user">Adicionar Usuario</a></li>
      </form>   
   </body>
</html>
{% endblock%}