<!-- base.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema IoT{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block extra_css %}
    <!-- Aqui você pode incluir mais CSS específicos se necessário -->
    {% endblock %}
</head>
<body>
    <header class="navbar">
		<div class="navbar-container">
			<a href="{{ url_for('home') }}" class="logo">
				<img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo-img">
			</a>
			<nav class="navbar-links">
				<ul class="navbar-menu">
					<li><a href="/history_read" class="nav-item">Dados Históricos</a></li>
					<li><a href="/history_write" class="nav-item">Atuações Históricas</a></li>

					{% if session.get('user') == 'admin' %}
						<li class="dropdown">
							<a href="#" class="nav-item">Comandos Admin</a>
							<ul class="dropdown-menu">
								<li><a href="/users" class="nav-item">Listar Usuários</a></li>
								<li><a href="/sensors" class="nav-item">Listar Sensores</a></li>
								<li><a href="/actuators" class="nav-item">Listar Atuadores</a></li>
								<li><a href="/publish" class="nav-item">Comando Remoto</a></li>
							</ul>
						</li>
					{% endif %}
				</ul>
			</nav>
			<ul class="botaoLogin">
				{% if session.get('user') %}
					<li><a href="/logoff" class="nav-item logoff">{{ session.get('user') }}, Sair</a></li>
				{% else %}
					<li><a href="/logoff" class="nav-item">Login</a></li>
				{% endif %}
			</ul>
		</div>
	</header>
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
	<footer class="footer">
        <div class="footer-container">
            <p>&copy; 2024 Dashboard Sistema IoT para fazendas.</p>
            <p>Desenvolvido por <a href="#" target="_blank">Matheus Vinicius Mariussi</a></p>
        </div>
    </footer>
</body>
</html>
