{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/publish.css') }}">
{% endblock %}
{% block title %} Controle de Atuador {% endblock %}
{% block header_title %} Controle Atuador {% endblock %}

<html>
    {% block content %}
    <body>
        <div class="container">
            <h2>Liga/Desliga Atuadores</h2>
            <div id="actuator-controls">
                {% for actuator in actuators %}
                <div class="actuator-container">
                    <label class="switch">
                        <input type="checkbox" id="control_{{ actuator.id }}" 
                               onclick="handleClick(this, {{ actuator.id }});">
                        <span class="slider"></span>
                    </label>
                    <span class="actuator-name">
                        <i class="fas fa-cogs"></i> {{ actuator.topic }}
                    </span>
                    <span class="status-message" id="status_{{ actuator.id }}"></span>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>

    <script>
        $(document).ready(function () {
            var table = $('#view_sen').DataTable({
                scrollY: "500px",
                scrollX: true,
                scrollCollapse: true,
                paging: true,
                fixedColumns: {
                    heightMatch: 'none'
                },
                language: {
                    url: "static/js/pt_br.json"
                }
            });
        });

        function handleClick(cb, actuator_id) {
            const statusMessage = document.getElementById(`status_${actuator_id}`);
            statusMessage.innerText = "Atualizando...";
            statusMessage.style.color = "blue";

            const data = cb.checked ? "1" : "0";

            $.ajax({
                url: "{{ url_for('publish_message') }}",
                contentType: 'application/json;charset=UTF-8',
                cache: false,
                method: 'POST',
                dataType: 'json',
                data: JSON.stringify({
                    actuator_id: actuator_id,
                    message: data
                }),
                success: function (response) {
                    statusMessage.innerText = "Atualizado!";
                    statusMessage.style.color = "green";
                },
                error: function (error) {
                    statusMessage.innerText = "Erro!";
                    statusMessage.style.color = "red";
                }
            });
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</html>
{% endblock %}
