<!--home.html -->
{% extends "base.html" %}

{% block title %}Pagina Inicial{% endblock %}
{% block header_title %} Home {% endblock %}

{% block content %}
    <nav>
        <ul>
            {% if session.user == 'admin' %}
            <li><a href="/users">Controle de Usuários</a></li>
            {% endif %}
            <li><a href="/devices">Controle de Sensor/Atuador</a></li>
            <li><a href="/publish">Publish</a></li>
            <li><a href="/tempo_real">Tempo Real</a></li>
        </ul>
    </nav>
{% endblock %}
