<!-- users.html -->
{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
    <h2>Gestão de Usuários</h2>

    <h3>Usuários Cadastrados</h3>
    <ul>
        {% for key, value in users.items() %}
            <li>{{ key }} : {{ value }}</li>
        {% endfor %}
    </ul>

    <h3>Cadastrar Usuário</h3>
    <form action="/add_user" method="post">
        <p>Usuário:</p>
        <input type="text" name="user" placeholder="Nome de usuário" required />
        <p>Senha:</p>
        <input type="password" name="password" placeholder="Senha" required />
        <input type="submit" value="Cadastrar" />
    </form>

    <h3>Remover Usuário</h3>
    <form action="/del_user" method="post">
        <p>Usuário:</p>
        <input type="text" name="user" placeholder="Nome de usuário" required />
        <p>Senha:</p>
        <input type="password" name="password" placeholder="Senha" required />
        <input type="submit" value="Remover" />
    </form>

    <p><a href="/home">Voltar para a página inicial</a></p>
{% endblock %}
